@font-face {
    font-family: Roboto;
	src: url("../fonts/roboto/Roboto.woff") format("woff"), 
	url("../fonts/roboto/Roboto.ttf") format("truetype");
}
*{
	transition: all .3s
}
body{
	margin: 0;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	height: inherit;
}
nav .container{
    height: 48px;
}
header{
	background: linear-gradient(to right, #f9f9f9 50%, #fff 50%);
	height: 200px;
}
header .container{
	background: url(../images/header-background.jpg) center no-repeat;
}
#firstmenu{
    height: 48px;
    display: flex;
    justify-content: space-between;
}
#firstmenu a#top-menu{
	display: flex;
    align-items: center;
}
#firstmenu a#region{
	text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 3px solid transparent;
}
#firstmenu a#region > img{
	padding-right: 10px;
}
#firstmenu ul{
    margin: 0;
    padding: 0;
    display: flex;
}
#firstmenu ul#top-link1{
    justify-content: space-between;
    border-bottom: 3px solid transparent;
}
#firstmenu ul#top-link2{
	border-bottom: 3px solid #1B749F;
}
#firstmenu ul#top-link2 > li{
	justify-content: flex-end;
	flex: auto;
}
#firstmenu ul#top-link2 > li > a > img{
	margin-right: 18px;
}
#firstmenu ul > li{
	list-style: none;
    display: flex;
    justify-content: center;
}
#firstmenu ul > li > a{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	display: flex;
    align-items: center;
}
#head-content{
	position: relative;
	height: 152px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
#head-content #search-call{
	display: flex;
    flex: auto;
}
#head-content #call{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
#head-content #call #phones{
	display: flex;
    align-items: center;
    position: relative;
    min-width: max-content;
}
#head-content #call #phones img{
	position: absolute;
	left: -32px;
}
#head-content #call #phones #phones-text p.phone{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
}
p.phone-info{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #777;
	margin: 4px 0;
}
button.button-call{
	background: #1B749F;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	height: 40px;
    width: 152px;
    cursor: pointer;
    border: none;
    
}
#head-content #search form{
	position: relative;
}
#head-content #search form input[type="text"]{
	padding: 10px 16px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16.5px;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
}
#head-content #search form input[type="submit"]{
	background: #1B749F url("../images/search.png") center no-repeat;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
	height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 0;
    border: none;
}
#head-content #tools{
	display: flex;
    flex-direction: column;
}
#head-content #tools a{
	padding: 6px 0;
}
nav{
	background: #000;
}
nav #sidemenu{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}
nav #sidemenu span{
    flex: auto;
}
nav #sidemenu::after{
	content: " ";
	display: block;
    position: absolute;
}
nav #sidemenu #sidemenu-panel{
	background: #F3F3F3;
	position: absolute;
    top: 48px;
    left: 0;
    width: inherit;
}
nav #sidemenu #sidemenu-panel ul > li {
    list-style: none;
    height: 48px;
    display: flex;
    align-items: center;
}
nav #sidemenu #sidemenu-panel ul > li > a{
	text-decoration: none;
	color: #000;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
    flex: auto;
}
nav #sidemenu #sidemenu-panel  ul {
	margin: 0;
	padding: 0 0 16px 0;
}
nav ul#main-menu{
    margin: 0px;
    height: 100%;
    flex: auto;
    justify-content: space-between;
}
nav ul#main-menu > li {
	list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
nav ul#main-menu > li > a{
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}
nav ul#main-menu > li > a > img{
	position: absolute;
    top: 10px;
    left: -36px;
}
aside{
	float: left;
}

main #heading{
	display: flex;
	align-items: center;
}
main #heading h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 24px;
	margin-right: 16px;
}
main #heading #heading-line{
	flex: auto;
	height: 8px;
	background: #1B749F;
}
main select#filter{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #3D3D3D;
	border: none;
	margin: 8px 0 28px 0;
}
main #breadcrumps{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #000;
	margin-top: 3px;
}
main #breadcrumps a{
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #000;
}
#articles_grid{
	display: grid;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}
article a{
	text-decoration: none;
	color: #000;
}
article img {
	width: 100%;
  	height: auto;
}
article .article_description > h1{
	font-family: Roboto;
	font-weight: 500;
	margin: 8px 0;
}
article .article_description > time{
	font-family: Roboto;
	color: #777777;
	margin-bottom: 16px;
	display: block;
}
footer{
	height: 640px;
	background: #000;
	position: relative;
}
footer img#map{
	position: absolute;
}
footer p#map-info{
	width: 197px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	color: #555;
	position: absolute;
	margin: 0;
}
footer img#logo2{
	position: absolute;
}
footer #footer-contacts-container{
	position: absolute;
}
footer #footer-contacts-container p.footer-contact{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin: 14px 0;
	display: flex;
	position: relative;
}
footer #footer-contacts-container p.footer-contact img{
	position: absolute;
	left: -35px;
}
footer #footer-contacts-container button.button-call{
	margin: 20px 0;
}
footer #footer-contacts-container p#footer-contact-other{
	width: 176px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	color: #fff;
}
footer #footer-contacts-container p#social-text{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}
footer #footer-contacts-container #payment-shipping{
	display: flex;
    align-items: center;
    position: absolute;
    left: -50px;
}
footer #footer-contacts-container #payment-shipping #separate{
	width: 2px;
	height: 40px;
	background: #1B749F;
}
footer p#copyright{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
	color: #777;
	position: absolute;
	margin: 0;
}
footer #social{
	position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1281px){
	header,nav,footer{
		display: block;
	}
	#firstmenu{
		padding: 0 0 0 72px;
	}
	#firstmenu a#region{
	    flex: 3;
	}
	#firstmenu ul#top-link1{
	    flex: 5;
	    padding: 0 64px;
	}
	#firstmenu ul#top-link2{
		flex: 4;
		padding: 0 72px 0 0;
	}
	#head-content{
	    padding: 0 24px 0 72px;
	}
	#head-content #search-call{
		flex-direction: row;
		align-items: center;
	}
	#head-content #call{
		flex-direction: row;
		padding: 0 22px 0 80px;
		align-items: center;
	}
	#head-content button.button-call{
		margin-left: 20px;
	}
	#head-content #search{
	    flex: 1;
	    padding: 0 36px 0 0;
	}
	nav #sidemenu{
	    width: 344px;
	    font-size: 16px;
	}
	nav #sidemenu span{
		margin: 0 0 0 36px;
	    padding: 0 36px;
	}
	nav #sidemenu::after{
		background-image: url("../images/white-menu.png");
	    right: 16px;
	    top: 12px;
	    width: 24px;
	    height: 24px;
	}
	nav #sidemenu #sidemenu-panel{
		display: block;
	}
	nav #sidemenu #sidemenu-panel ul > li > a{
		margin: 0 0 0 36px;
	    padding: 8px 36px;
	    font-size: 16px;
	}
	nav ul#main-menu{	
	    padding: 0 72px 0 0;
	    border-left: 3px solid #fff;
    	display: flex;
	}
	nav ul#main-menu > li {
	    padding: 0 0 0 77px;
	}
	aside{
		width: 344px;
	}
	main{
		margin: 0 0 0 344px;
		padding: 16px 72px 16px 16px;
	}
	main #breadcrumps{
		display: block;
	}
	#articles_grid{
		grid-template-columns: repeat(2, 1fr);
	}
	article{
		border: none;
	}
	article .article_description{
		padding: 16px;
		background: #F3F3F3;
	}
	article .article_description > h1{
		font-size: 18px;
	}
	article .article_description > time{
		font-size: 13px;
	}
	footer p#map-info{
		top: 136px;
		left: 333px;
		font-size: 16px;
	}
	footer img#map{
		top: 9px;
	    left: 337px;
	}
	footer img#logo2{
		top: 30px;
		left: 76px;
	}
	footer p#copyright{
		top: 576px;
		left: 76px;
		right: 76px;
	}
	footer #social{
	    bottom: 160px;
	    right: 16px;
	}
	footer #social a#social-close{
		padding: 12px 8px;
	}
	footer #footer-contacts-container{
		top: 154px;
		left: 105px;
	}
	footer #footer-contacts-container p#footer-contact-other{
		font-size: 13px;
	}
	footer #footer-contacts-container p#social-text{
		margin: 32px 0 0;
	}
	footer #footer-contacts-container #payment-shipping > *{
		margin: 12px;
	}
}
@media (min-width: 1025px) and (max-width: 1280px){
	header,nav,footer{
		display: block;
	}
	#firstmenu{
		padding: 0 0 0 48px;
	}
	#firstmenu a#region{
	    flex: 3;
	}
	#firstmenu ul#top-link1{
	    flex: 7;
	    padding: 0 59px 0 44px;
	}
	#firstmenu ul#top-link2{
		flex: 5;
		padding: 0 48px 0 0;
	}
	#head-content{
	    padding: 0 8px 0 48px;
	}
	#head-content #search-call{
		flex-direction: row;
		align-items: center;
	}
	#head-content #call{
		flex-direction: column;
		padding: 0 50px 0 80px;
	}
	#head-content #call #phones{
		margin: 0 0 8px 0;
	}
	#head-content #search{
	    flex: 2;
    	padding: 0 32px 0 0;
	}
	nav #sidemenu{
	    width: 272px;
	    font-size: 16px;
	}
	nav #sidemenu span{
		margin: 0 0 0 24px;
	    padding: 0 24px;
	}
	nav #sidemenu::after{
		background-image: url("../images/white-menu.png");
	    right: 16px;
	    top: 12px;
	    width: 24px;
	    height: 24px;
	}
	nav #sidemenu #sidemenu-panel{
		display: block;
	}
	nav #sidemenu #sidemenu-panel ul > li > a{
		margin: 0 0 0 24px;
	    padding: 8px 24px;
	    font-size: 14px;
	}
	nav ul#main-menu{	
	    padding: 0 48px 0 0;
	    border-left: 8px solid #fff;
	    display: flex;
	}
	nav ul#main-menu > li {
	    padding: 0 0 0 64px;
	}
	.min-content{
		width: min-content;
	}
	aside{
		width: 272px;
	}
	main{
		margin: 0 0 0 272px;
		padding: 16px 48px 16px 16px;
	}
	main #breadcrumps{
		display: block;
	}
	#articles_grid{
		grid-template-columns: repeat(2, 1fr);
	}
	article{
		border: none;
	}
	article .article_description{
		padding: 16px;
		background: #F3F3F3;
	}
	article .article_description > h1{
		font-size: 18px;
	}
	article .article_description > time{
		font-size: 13px;
	}
	footer p#map-info{
		top: 136px;
		left: 304px;
		font-size: 14px;
	}
	footer img#map{
		top: 56px;
    	left: 228px;
	}
	footer img#logo2{
		top: 30px;
		left: 51px;
	}
	footer p#copyright{
		top: 576px;
		left: 48px;
		right: 48px;
	}
	footer #social{
	    bottom: 1410px;
	    right: 8px;
	}
	footer #social a{
		padding: 4px 0px;
	}
	footer #footer-contacts-container{
		top: 154px;
		left: 105px;
	}
	footer #footer-contacts-container p#footer-contact-other{
		font-size: 13px;
	}
	footer #footer-contacts-container p#social-text{
		margin: 32px 0 0;
	}
	footer #footer-contacts-container #payment-shipping > *{
		margin: 12px;
	}
}
@media (min-width: 841px) and (max-width: 1024px){
	header,nav,footer{
		display: block;
	}
	#firstmenu{
		padding: 0 0 0 48px;
	}
	#firstmenu a#region{
	    flex: 6;
	}
	#firstmenu ul#top-link1{
	    flex: 17;
    	padding: 0 59px 0 83px;
	}
	#firstmenu ul#top-link2{
		flex: 5;
		padding: 0 48px 0 0;
	}
	#head-content{
	    padding: 0 8px 0 48px;
	}
	#head-content #search-call{
		flex-direction: column-reverse;
		align-items: unset;
	}
	#head-content #call{
		flex-direction: row;
		padding: 0 50px 0 80px;
	}
	#head-content #call #phones{
		margin: 15px 30px 0px 0;
	}
	#head-content #search{
	    flex: 2;
    	padding: 0 50px;
	}
	nav #sidemenu{
	    width: auto;
	    font-size: 23px;
	}
	nav #sidemenu span{
		margin: 0 0 0 106px;
	    padding: 0 24px;
	}
	nav #sidemenu::after{
		background-image: url("../images/white-menu2.png");
	    left: 56px;
	    top: 6px;
	    width: 47px;
	    height: 35px;
	}
	nav #sidemenu #sidemenu-panel{
		display: none;
	}
	nav #sidemenu #sidemenu-panel ul > li > a{
		margin: 0 0 0 24px;
	    padding: 8px 24px;
	    font-size: 14px;
	}
	nav ul#main-menu{	
	    padding: 0 48px 0 0;
	    border-left: 8px solid #fff;
	    display: none;
	}
	nav ul#main-menu > li {
	    padding: 0 0 0 64px;
	}
	.min-content{
		width: min-content;
	}
	aside{
		width: 272px;
	}
	main{
		margin: 0 0 0 0px;
		padding: 16px 48px 16px 48px;
	}
	main #breadcrumps{
		display: block;
	}
	#articles_grid{
		grid-template-columns: repeat(2, 1fr);
	}
	article{
		border: none;
	}
	article .article_description{
		padding: 16px;
		background: #F3F3F3;
	}
	article .article_description > h1{
		font-size: 18px;
	}
	article .article_description > time{
		font-size: 13px;
	}
	footer p#map-info{
		top: 460px;
    	left: 594px;
		font-size: 14px;
	}
	footer img#map{
		top: 124px;
    	left: 213px;
	}
	footer img#logo2{
		top: 30px;
		left: 51px;
	}
	footer p#copyright{
		top: 576px;
		left: 48px;
		right: 48px;
	}
	footer #social{
	    bottom: 1125px;
	    right: 8px;
	}
	footer #social a{
		padding: 4px 0px;
	}
	footer #footer-contacts-container{
		top: 83px;
		left: 80px;
	}
	footer #footer-contacts-container p#footer-contact-other{
		font-size: 14px;
	}
	footer #footer-contacts-container p#social-text{
		margin: 42px 0 0;
	}
	footer #footer-contacts-container #payment-shipping > *{
		margin: 52px 12px;
	}
}
@media (max-width: 840px){
	header,nav,footer{
		display: none;
	}
	#firstmenu{
		padding: 0 0 0 48px;
	}
	#firstmenu a#region{
	    flex: 6;
	}
	#firstmenu ul#top-link1{
	    flex: 17;
    	padding: 0 59px 0 83px;
	}
	#firstmenu ul#top-link2{
		flex: 5;
		padding: 0 48px 0 0;
	}
	#head-content{
	    padding: 0 8px 0 48px;
	}
	#head-content #search-call{
		flex-direction: column-reverse;
		align-items: unset;
	}
	#head-content #call{
		flex-direction: row;
		padding: 0 50px 0 80px;
	}
	#head-content #call #phones{
		margin: 15px 30px 0px 0;
	}
	#head-content #search{
	    flex: 2;
    	padding: 0 50px;
	}
	nav #sidemenu{
	    width: auto;
	    font-size: 23px;
	}
	nav #sidemenu span{
		margin: 0 0 0 106px;
	    padding: 0 24px;
	}
	nav #sidemenu::after{
		background-image: url("../images/white-menu2.png");
	    left: 56px;
	    top: 6px;
	    width: 47px;
	    height: 35px;
	}
	nav #sidemenu #sidemenu-panel{
		display: none;
	}
	nav #sidemenu #sidemenu-panel ul > li > a{
		margin: 0 0 0 24px;
	    padding: 8px 24px;
	    font-size: 14px;
	}
	nav ul#main-menu{	
	    padding: 0 48px 0 0;
	    border-left: 8px solid #fff;
	    display: none;
	}
	nav ul#main-menu > li {
	    padding: 0 0 0 64px;
	}
	.min-content{
		width: min-content;
	}
	aside{
		width: 272px;
	}
	main{
		margin: 0 0 0 0px;
		padding: 16px;
	}
	main #breadcrumps{
		display: none;
	}
	#articles_grid{
		grid-template-columns: repeat(1, 1fr);
	}
	article{
		border: 1px solid #ccc;
	}
	article .article_description{
		padding: 0px 16px;
    	background: #fff;
	}
	article .article_description > h1{
		font-size: 14px;
	}
	article .article_description > time{
		font-size: 12px;
	}
	footer p#map-info{
		top: 460px;
    	left: 594px;
		font-size: 14px;
	}
	footer img#map{
		top: 124px;
    	left: 213px;
	}
	footer img#logo2{
		top: 30px;
		left: 51px;
	}
	footer p#copyright{
		top: 576px;
		left: 48px;
		right: 48px;
	}
	footer #social{
	    bottom: 1125px;
	    right: 8px;
	}
	footer #social a{
		padding: 4px 0px;
	}
	footer #footer-contacts-container{
		top: 83px;
		left: 80px;
	}
	footer #footer-contacts-container p#footer-contact-other{
		font-size: 14px;
	}
	footer #footer-contacts-container p#social-text{
		margin: 42px 0 0;
	}
	footer #footer-contacts-container #payment-shipping > *{
		margin: 52px 12px;
	}
}